<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         _bootstrap="./example.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
    </listeners>
    <testsuites>
        <testsuite name="Main">
            <directory>./tests/Gerar/</directory>
        </testsuite>
    </testsuites>
</phpunit>